body {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.main-editor {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

/* trailing space */
.cm-trailingspace {
  background-color: #ee0000;
  background-color: rgba(255, 0, 0, 0.8);
}

/* line numbers */
.CodeMirror-gutters .CodeMirror-gutter.CodeMirror-linenumbers {
  width: 29px !important;
}
.CodeMirror-dialog form {
  display: inline-block;
}

/* file menu */
.CodeMirror .custom-file-menu-row {
  position: relative;
}
.CodeMirror .custom-file-menu-checkbox-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background: white;
  pointer-events: none;
  cursor: pointer;
}
.CodeMirror .custom-file-menu-row > input:first-child {
  width: 100%;
}
.CodeMirror .custom-file-menu-row > input:first-child:checked + span {
  font-weight: bold;
}
.CodeMirror .custom-invalid {
  color: #ee0000;
}
/* placeholder */
.CodeMirror .CodeMirror-placeholder {
  color: #3E7087;
}
/* save hint */
.CodeMirror-gutters:before {
    display: none;
    content: "Save";
    position: fixed;
    padding-top: 4px;
}
.CodeMirror.custom-set-modified .CodeMirror-gutters:before {
  display: block;
}

/* current file name */
.CodeMirror .CodeMirror-dialog-bottom {
  background: none;
  border: 0 none;
  text-align: center;
  font-style: italic;
  color: #fff; /* #3E7087; */
}  
  
